.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:0% 5%;
   
}
.home .content h3{
    font-size: 2rem;
    color:var(--black);
    line-height: ;
    text-shadow: var(--text-shadow);
   

}
.home .image img{
    width: 70%;
    border-radius: 50%;
    padding-bottom: 10%;

}

.home .content p{
    font-size: 1rem;
    color:var(--light-color);
    line-height: ;
     

}
.bot{
   
    padding: 0 20%;
}
.bott{
    padding: 0 6%;
}

.btn {
  background: #33ff96;
  background-image: -webkit-linear-gradient(top, #33ff96, #492bb8);
  background-image: -moz-linear-gradient(top, #33ff96, #492bb8);
  background-image: -ms-linear-gradient(top, #33ff96, #492bb8);
  background-image: -o-linear-gradient(top, #33ff96, #492bb8);
  background-image: linear-gradient(to bottom, #33ff96, #492bb8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #723cfa;
  background-image: -webkit-linear-gradient(top, #723cfa, #9fd934);
  background-image: -moz-linear-gradient(top, #723cfa, #9fd934);
  background-image: -ms-linear-gradient(top, #723cfa, #9fd934);
  background-image: -o-linear-gradient(top, #723cfa, #9fd934);
  background-image: linear-gradient(to bottom, #723cfa, #9fd934);
  text-decoration: none;
}